/*Обнуление*/
/* Очищаем все отступы и границы во ВСЕХ тегах на странице*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
/* Меняет подсчет ширины блока для удобства верстания*/
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/* Убираем линии обводки у некооторых браузеров*/
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
/* Делает теги блочными*/
nav,footer,header,aside{display: block;}
/* Уравнивает поведение шрифтов в разных браузерах*/
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1; /* просто 1(без 'px') */
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
/* Задаем наследование шрифта (по умолчанию эти теги не наследуют шрифт)*/
input,button,textarea{font-family:inherit;}/* */
/* Убирают некоторые особености в некоторых  браузерах*/
input::-ms-clear{display: none;}/* */
button{cursor: pointer;}/* */
button::-moz-focus-inner {padding:0;border:0;}/* */
a, a:visited{text-decoration: none;}/* */
a:hover{text-decoration: none;}/* */
ul li{list-style: none;}/* чистит стили в маркированых списках*/
img{vertical-align: top;}/* */

/*h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}/*Обнуляет заголовки */
/*--------------------*/
/* Далее задаем стили согласно ТЕХ. ЗАДАНИЮ */
* {
	font-size: 18px;
}

/* Стили отзывчиво-адаптивной верстки===========================*/
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}
@media (max-width: 1200px) {
	.container {
		max-width: 970px;
	}
}

@media (max-width: 992px) {
	.container {
		max-width: 750px;
	}
}

@media (max-width: 767px) {
	.container {
		max-width: none;
	}
}
/*end Стили отзывчиво-адаптивной верстки===========================*/
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(35,35,35,0.95);
}
/*.container {
	width: 1170px;
	margin: 0 auto;
}*/
.header__menu {
	display: flex;
	justify-content: space-between;
}
.header__list {
	display: flex;
	flex-direction: column;
}
.header__list > li {
	flex-direction: column;
}
.header__list > li > a {
	color: #ffc966;
}
.wrapper{
	margin: 40px 0 0 0;
}
.guide {
	font-size: 18px;
	height: 100%;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	background-color: rgba(35,35,35,0.95);
	color: rgb(240,220,210);
	display: block;
	position: absolute;
}
.hide{
	display: none;
}
.main-form {
}
.main-form__item {
}
.main-form__label {
}
.main-form__radio {
}
.main-form__inline-label {
}
.main-form__input {
}
.main-form__column {
}
.button {
}
.main-form__button {
}
.сalculations {
	width: 90%;
	padding: 5px;
	margin: 5px auto;
	font-size: 18px;
	text-align: center;
	border-radius: 4px;
	background-color: #19ff19;
}
.results {
}
.current-sum {
}
.rest-of-days {
}
.tabs {
	margin: 5px auto;
	text-align: center;
}
.tabs__item {
	display: inline-block;
	margin: 5px;
	min-width: 90px;
	max-width: 130px;

	border: 3px solid #dfa946;
	border-radius: 5px;
	background-color: #ffc966;
}
.tabs__days {
	text-align: center;
}
.tabs__sum {
	text-align: center;
}

.passed {
	border: 3px solid #19ff19;
	background-color: #19ff19;
}